@import "semantic-ui";

.new-timesheet {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#error-explanation {
  background: #fff6f6;
  border: 1px solid #e0b4b4;
  border-radius: 4px;
  color: #3F3f3f
}

.header {
  color: #3F3f3f
}

.within-finish {
  display: flex;
  height: 40px;
  align-items: center;
  font-size: 17px;
}

#timesheet_start_time_4i {
  height: 100%;
  width: 12%;
}

#timesheet_start_time_5i {
  height: 100%;
  width: 12%;
}

#timesheet_finish_time_4i {
  height: 100%;
  width: 12%;
}

#timesheet_finish_time_5i {
  height: 100%;
  width: 12%;
}

#timesheet_date {
  height: 40px;
}

.field_with_errors {
  width: 100%;
  display: flex;
}

.ui.inverted.table {
  width: 80%;
  margin: 0 auto;
}

thead {
  text-align: center;
}

tbody {
  text-align: center;
}

.timesheets-title {
  text-align: center;
}

#top-left-button {
  margin-left: 30px;
  margin-top: 30px;
}